<?xml version="1.0"?>
<launch>
  <!-- ROBOT DESCRIPTION AND JOINT/ROBOT STATE PUBLISHERS-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find workspace_description)/urdf/robot.xacro'"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="source_list">[joint_states_cmd]</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen"/>
  <!-- Planning scene required parameters -->
  <param name="robot_description_semantic" command="cat $(find myrobot_config_package)/config/myrobot.srdf"/>
  <group ns="robot_description_planning">
    <rosparam command="load" file="$(find myrobot_config_package)/config/joint_limits.yaml"/>
  </group>
  <group ns="robot_description_kinematics">
    <rosparam command="load" file="$(find myrobot_config_package)/config/kinematics.yaml"/>
  </group>
  <node name="my_planning_scene_monitor_implementation" pkg="simple_planning_scene_monitor" type="simple_planning_scene_monitor_node" output="screen">
    <param name="planning_scene_monitor/publish_planning_scene" value="True"/>
    <param name="planning_scene_monitor/publish_geometry_updates" value="True"/>
    <param name="planning_scene_monitor/publish_state_updates" value="True"/>
    <param name="planning_scene_monitor/publish_transforms_updates" value="True"/>
  </node>
</launch>
