<?xml version="1.0"?>
<launch>
  <!-- ROBOT DESCRIPTION AND JOINT/ROBOT STATE PUBLISHERS-->
  <node name="my_planning_scene_monitor_implementation" pkg="simple_planning_scene_monitor" type="simple_planning_scene_monitor_node" output="screen">
    <param name="planning_scene_monitor/publish_planning_scene" value="True"/>
    <param name="planning_scene_monitor/publish_geometry_updates" value="True"/>
    <param name="planning_scene_monitor/publish_state_updates" value="True"/>
    <param name="planning_scene_monitor/publish_transforms_updates" value="True"/>
  </node>
</launch>
