<?xml version="1.0"?>
<launch>
  <group ns="myrobot">
    <include file="$(find pick_place_a_pipeline_example)/launch/move_group.launch"/>
    <include file="$(find pick_place_a_pipeline_example)/launch/gazebo.launch"/>
    <node name="example" pkg="pick_place_a_pipeline_example" type="pick_place_a_pipeline_example_node" output="screen"/>
  </group>
</launch>
