<launch>
<group ns="myrobot">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find workspace_description)/urdf/robot.xacro'"/>
    <param name="robot_description_semantic" command="cat $(find myrobot_config_package)/config/myrobot.srdf"/>
  <group ns="robot_description_planning">
    <rosparam command="load" file="$(find myrobot_config_package)/config/joint_limits.yaml"/>
  </group>
  <group ns="robot_description_kinematics">
    <rosparam command="load" file="$(find myrobot_config_package)/config/kinematics.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
    <node name="moveit_robot_model" pkg="a_robot_model_example_01" type="a_robot_model_example_01_node"/>
</group>
</launch>
