<?xml version="1.0"?>
<launch>
  <group ns="myrobot">
    <!-- Planning scene required parameters -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find workspace_description)/urdf/robot.xacro'"/>
    <param name="robot_description_semantic" command="cat $(find myrobot_config_package)/config/myrobot.srdf"/>
    <group ns="robot_description_planning">
      <rosparam command="load" file="$(find myrobot_config_package)/config/joint_limits.yaml"/>
    </group>
    <group ns="robot_description_kinematics">
      <rosparam command="load" file="$(find myrobot_config_package)/config/kinematics.yaml"/>
    </group>
    <!-- Fake robot with fake control -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="/use_gui" value="false"/>
      <rosparam param="source_list">[joint_states_cmd]</rosparam>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen"/>
    <!-- Simple Planning Scene Monitor -->
    <include file="$(find simple_planning_scene_monitor)/launch/planning_scene_monitor.launch"/>
    <!-- Main procedure -->
    <node name="random_object_service" pkg="random_objects" type="random_objects_service" respawn="false" output="screen"/>
    <node name="trajectory_plot_service" pkg="trajectory_plotter" type="trajectory_plot.py" respawn="false" output="screen"/>
    <node name="orchestrator" pkg="a_planning_pipeline" type="orchestrator" respawn="false" output="screen"/>
    <param name="planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <param name="request_adapters" value="default_planner_request_adapters/AddTimeParameterization default_planner_request_adapters/FixWorkspaceBounds default_planner_request_adapters/FixStartStateBounds default_planner_request_adapters/FixStartStateCollision default_planner_request_adapters/FixStartStatePathConstraints"/>
    <node name="motion_planning_service" pkg="a_planning_pipeline" type="a_planning_pipeline_node" respawn="false" output="screen"/>
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find a_planning_pipeline)/cfg/rvizconfig.rviz"/>
  </group>
</launch>
