<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="myrobot">

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur10 -->
  <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />

  <!-- arm -->
  <xacro:ur10_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />
  <link name="world"/>
  <link name="table">
    <visual>
      <geometry>
        <box size="0.6 0.6 0.05"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.6 0.6 0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table"/>
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
  </joint>
  <joint name="table_to_robot" type="fixed">
    <parent link="table"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>
