<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true"/>
  <!-- 1. Launch move group -->
  <include file="$(find moveit_grasp_b_tools)/launch/move_group.launch"/>
  <group ns="myrobot">
    <rosparam command="load" file="$(find moveit_grasp_b_tools)/config/object_grasp_config.yaml"/>
    <node name="grasp_example" pkg="moveit_grasp_b_tools" type="moveit_grasp_b_tools_node" respawn="false" output="screen">
      <rosparam command="load" file="$(find moveit_grasp_b_tools)/config/moveit_grasp_config.yaml"/>
    </node>
  </group>
</launch>
