<?xml version="1.0"?>
<launch>
  <!-- 1. Launch move group -->
  <include file="$(find c_pick_and_place)/launch/move_group.launch"/>
  <group ns="myrobot">
    <rosparam command="load" file="$(find d_moveit_grasp)/config/moveit_grasp_config.yaml"/>
    <rosparam command="load" file="$(find d_moveit_grasp)/config/object_grasp_config.yaml"/>
    <node name="grasp_example" pkg="d_moveit_grasp" type="d_moveit_grasp_node" respawn="false" output="screen"/>
  </group>
</launch>
